.content {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.middleSection {
  margin-top: 56px;
  margin-bottom: 56px;
}

.homePage {
  background-image: url('/images/hero-image.jpg');
  background-size: cover;
  background-position: center top;
  height: 100vh;
}
